# Virtual environment
.venv/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
doc/build/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
